#all-meal-category{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.meals{
    margin: 20px;
    padding: 20px;
    width: 250px;
    text-align: center;
    border: 1px solid lime;
    border-radius: 20px;
}
.meals img{
    width: 100%;
}
.search-input{
    text-align: center;
}
.search-input input, button{
    padding: 10px 30px;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
}
.search-input button{
    background-color: blanchedalmond;
}
